html {
  margin: 0;
  padding: 0;
  width: 100%;
  padding-top: 5px;
}

.logo {
  box-sizing: border-box;
  height: 16.5938px;
  width: 100px;
  margin-left: 10px;
}

.topbar {
  display: flex;
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 10px;
}
@mixin icons {
  width: 17px;
  height: 20px;
  padding-left: 9px;
}
.search_icon,
.play_icon,
.profile_icon {
  @include icons();
}
.search_icon {
  padding-right: 5px;
}

.iconbar {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 45px;
}

.menubtn {
  width: 18px;
  padding-left: 14px;
}
